.swiper-wrapper {
    padding: 0;
    margin: 0;
}
.swiper-wrapper img {
    width: 100%;
}
:root {
    --swiper-navigation-size: 20px;
    --swiper-navigation-color: white;
}
.swiper-button-next,
.swiper-button-prev {
    width: 30px;
    height: 30px;
    background: #094a82;
    transition: all 0.3s;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
    background: #ecba36;
}
.swiper-button-next {
    right: 0px;
    top: 90%;
}
.swiper-button-prev {
    left: auto;
    right: 40px;
    top: 90%;
}
.swiper-slide-visible {
    opacity: 0.6;
}
.swiper-slide-thumb-active {
    opacity: 1;
}
